/* Added to remove scrollbars in order to remove jitter*/
* {
    margin: 0;
    padding: 0;
}

/* Adds ocean to racing track to streamline game*/
body {
    background-color: #0077BE;
}

/* css for screen*/
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3080dc, #28bf2b, #de3c3c);
}

/* css for start button*/
.start-button {
    padding: 15px 40px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
}

/* Css for title text in first page*/
#title-text {
    font-size: 5em;
    color: black;
    text-align: center;
    font-family: 'TitleFont';
}

/* Css for the box where you select difficulty*/
#difficulty-box {
    margin: 1em;
    font-family: 'Font';
    font-size: 1.25em;
}

/* Css to also remove scrollbars to reduce jitter */
#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh
}

#startBtn {
    font-family: 'Font';
}

input[type="radio"]{
    display: none;
}

/*css option for each individual difficulty option*/
.diff-option {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'Font';
    color: grey;
    text-align: center;
}

/*Once difficulty has been selected, it turns black because of this*/
.diff-option:has(input[type="radio"]:checked) {
    color: black;
}

/*The difficulty you hover over turns black*/
.diff-option:hover {
    color: black;
}

.diff-label {
    color: white;
}

/*Adding fonts*/
@font-face {
    font-family: 'TitleFont';
    src: url('fonts/ka1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font';
    src: url('fonts/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*CSS code for Dialogues*/
/* Includes Dialogue Screen, Dialogue Box, Char Name, Dialogue Text, and Continue Hint */
#dialogueScreen {
    position: fixed;
    inset: 0;
    background: linear-gradient(#3080dc, #28bf2b, #de3c3c);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogueBox {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    width: 70%;
    max-width: 600px;
    border-radius: 12px;
}

#characterName {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Font';
}

#dialogueText {
    font-size: 1.5em;
    font-family: 'Font';
}

#continueHint {
    margin-top: 20px;
    opacity: 0.6;
    font-size: 1em;
    font-family: 'Font';
}